:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --heading-color: #222a41;
  --subheading-color: #374769;
  --link-color: #3498db;
  --link-hover-color: #2980b9;
  --footer-background-color: #374769;
  --footer-text-color: #ffffff;
  --post-background-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --image-shadow-color: rgba(0, 0, 0, 0.1);
  --nav-background-color: #222a41;
  --nav-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
}

.logo-container img {
  width: 60px;
  margin-right: 10px;
}

h1 {
  font-size: 1.8rem;
  color: var(--heading-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}

.navbar a:hover {
  color: var(--link-hover-color);
}

main {
  background-color: var(--post-background-color);
  padding: 20px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  border-radius: 8px;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  color: var(--subheading-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.8;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

.bold-text {
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px 0;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer p {
  font-size: 0.9rem;
}

@media (max-width: 550px) {
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-evenly;
    top: 130px;
    right: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
